<?xml version="1.0"?>

<model>
  <name>WheelRobot(v3)</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.7">model2.sdf</sdf>

  <author>
    <name>The_Bloop</name>
    <email>ssabariis@gmail.com</email>
  </author>

  <description>
    Wheel Robot v3
  </description>
</model>