import os

from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument, IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import LaunchConfiguration
from launch_ros.substitutions import FindPackageShare
from launch_ros.actions import Node

TURTLEBOT3_MODEL = os.environ['TURTLEBOT3_MODEL']


def generate_launch_description():
    pkg_share = FindPackageShare(package='robot_launcher_cpp').find('robot_launcher_cpp')

    use_sim_time = LaunchConfiguration('use_sim_time', default='false')

    map_dir = LaunchConfiguration('map', default=os.path.join(pkg_share,
            'maps/turtlebot3_world',
            'turtlebot3_world.yaml'))

    param_dir = LaunchConfiguration('params_file',
            default=os.path.join(pkg_share, 'params', 'nav2_params.yaml'))

    nav2_launch_file_dir = os.path.join(get_package_share_directory('nav2_bringup'), 'launch')

    rviz_config_dir = os.path.join(
        pkg_share,'rviz',
        'nav2_bringup_settings.rviz'
    )

    map_path_arg = DeclareLaunchArgument(
        'map',
        default_value=map_dir,
        description='Full path to map file to load'
    )
    
    params_file_arg = DeclareLaunchArgument(
        'params_file',
        default_value=param_dir,
        description='Full path to param file to load'
    )
    
    sim_time_arg = DeclareLaunchArgument(
        'use_sim_time',
        default_value='false',
        description='Use simulation (Gazebo) clock if true'
    )

    nav2_bringup_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource([nav2_launch_file_dir, '/bringup_launch.py']),
        launch_arguments={'map': map_dir,
            'use_sim_time': use_sim_time,
            'params_file': param_dir}.items(),
    )
    
    rviz_node = Node(
        package='rviz2',
        executable='rviz2',
        name='rviz2',
        output='screen',
        parameters=[{'use_sim_time': use_sim_time}],
        arguments=['-d', rviz_config_dir]
    )

    ld = LaunchDescription()

    ld.add_action(map_path_arg)
    ld.add_action(params_file_arg)
    ld.add_action(sim_time_arg)
    ld.add_action(nav2_bringup_launch)
    ld.add_action(rviz_node)

    return ld